<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      devErrorsEnabled="true"
      debuggingEnabled="true"
      debuggerPortRange="5058-6058"
      loggingEnabled="true"
      watchedFiles="*.js"
     />
    
    <rewrite>
      <rules>
        <!-- for debugging purposes. must be before everything else -->
        <rule name="inspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js" />
        </rule>
        <rule name="nodevc">
          <match url="/*" />
          <action type="Rewrite" url="server.js" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- exclude node_modules directory and subdirectories from serving by IIS since these are implementation details of node.js applications -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!-- only in prd -->
          <!--add segment="node_modules" /-->
        </hiddenSegments>
      </requestFiltering>
    </security> 

  </system.webServer>
</configuration>